.navbar-brand .site-description {
    font-size: 0.7rem;
}
.navbar-brand .site-title {
    line-height: 0px;
}

.landing {
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: 0px 0px;
    background-attachment: scroll;
    height: 100vh;
}
.landing::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.landing form input#search {
    display: inline-block !important;
    width: 75% !important;
    color: #fff !important;
    background-color: #0000002e!important;
    font-weight: 500 !important;
    font-size: 1.2rem;
    border: 1px solid #ced4da1a !important;
}
.landing form input#search:focus {
    color: #fff !important;
    border-color: #86b7fe4f !important;
}
input[placeholder] {
    color: aqua !important;
}
.items {
    background-color: #00000059;
    border-radius: 5px;
    color: white;
}